* {
    margin: 0%;
    padding: 0%;
}

@import "_variables";

/* header */
#nave {
    background-color: $whitesmoke;
    border-bottom: $bordes;

    div {
        width: $fullwidth;

        nav {
            display: flex;
            justify-content: center;

            a {
                color: $color1;
                font-size: 25px;
                font-family: 'Ubuntu', sans-serif;
            }

            .navbar-toggler {
                color: $color1;
            }
        }
    }

    #navbarNav {
        a {
            text-align: center;
            font-size: 25px;
            font-family: 'Ubuntu', sans-serif;
            color: $color1;
        }
    }

    .navbar {
        button {
            width: 50px;
            height: 30px;
            background: rgb(0, 0, 0);
            background: $burguerlist;
        }
    }
}

/* header */
/* footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: $fullwidth;
}

#footer-socials {
    text-align: center;
    width: $fullwidth;
    background-color: black;

    .socials {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    a {
        font-size: 25px;
    }
}

/* footer */
/* MAIN DE PAGINA PRINCIPAL */
body {
    background-color: $whitesmoke;
}

#jumbotron1 {
    height: 200px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    h1 {
        @include hestilo(h1);
        color: $whitesmoke;
    }
    .btn--youtube {
        @include redes(#b2071d)
    }
    .btn--soundcloud{
        @include redes(#ff7700)
    }
}



#jumbotronbg {
    background-image: url(./imgs/jumbotronbg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: $bordes;
    border-bottom: $bordes;

    #img1 {
        width: $width80/2;
        border-radius: 10px;
        margin-top: 20px;
    }

    h3 {
        @include hestilo(h3);
        color: $whitesmoke;
    }

    p {
        @include pestilo
    }

    div {
        h3 {
            margin-top: 20px;
            @include hestilo(h2);
        }

        iframe {
            width: $fullwidth;
            padding-bottom: 40px;
        }
    }
}

#iframe {
    text-align: center;

    iframe {
        width: $width80;
        height: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h3 {
        @include hestilo(h3);
        color: $whitesmoke;

        a {
            text-decoration: none;
            color: green;

            &:hover {
                color: black;
                text-decoration: underline;

            }
        }
    }
}

#ultimosalbums {
    background-image: url(./imgs/bgjumb2.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 0%;
    border-top: $bordes;
    margin-bottom: 50px;
    text-align: center;
    background-color: $white;

    h3 {
        @include hestilo(h3);
        color: $whitesmoke;
        width: $fullwidth;
    }

    iframe {
        width: $fullwidth;
        margin-bottom: 5px;
    }
}

/* MAIN DE PAGINA PRINCIPAL */
/*  PAG IMAGENES */
#imagenes{
    @include estilopag;
    .btn--instagram{
        @include redes(#3f729b)
    }
}
#demo {
    width: $width80+15%;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 6px 5px 5px black;
}

.carousel-item {
    img {
        width: $fullwidth;
    }
}

.jumbotron {
    margin-top: 20px;
    width: $width50+20%;
    border: solid black 3px;
}

/*  PAG IMAGENES */
/* Pag VIDEOS */
#videos{
    @include estilopag;
    .btn--youtube{
        @include redes(#b2071d);
    }
}
.videos{
    display: flex;
    flex-direction: column;
    width: $fullwidth;
    align-items: center;
    margin-bottom: 100px;
    iframe{
        width: fit-content;
        margin: 10px;
    }
}

/* Pag VIDEOS */
/* PAG SERVICIOS */
#servicios {
    @include estilopag;
    .btn--instagram{
        @include redes(#3f729b)
    }
    .btn--facebook{
        @include redes(#3b5998)
    }
}
#calendario{
    width: $fullwidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    iframe{
        width: $width80;
        height: 350px;
    }
    h3{
        @include hestilo(h3);
        color: $whitesmoke;
        margin-bottom: 50px;
    }
}
/* PAG SERVICIOS */
/* PAG CONTACTOS */
#contacto{
    @include estilopag;
    .btn--gmail{
        @include redes(#C71610)
    }
    .btn--outlook{
        @include redes(#0072C6)
    }
}
#formulario{
    background-color:  $color1;
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 40px;
    .form-group{
        text-align: center;
        font-size: 30px;
        color: $whitesmoke;
        .btn{
            background-color: $whitesmoke;
            border: black solid 2px;
            &:hover{
                color: $whitesmoke;
                background-color: $color1;
                border: $white solid 2px;
            }
            }
    }
}


/* PAG CONTACTOS */

@media (min-width: 576px) {
    #jumbotronbg {
        #img1 {
            width: max-content;
        }

        .ultimovideo {
            margin-top: 20px;
        }
    }

    #iframe {
        iframe {
            width: $fullwidth;
        }
    }

    #ultimosalbums {
        h2 {
            margin-top: 40px;
            text-align: center;
            margin-bottom: 40px;
        }

        div {
            iframe {
                width: $width50+15%;
            }
        }
    }

    /* pag contacto */
    /* pag contacto */
    /*  PAG IMAGENES */
    .jumbotron {
        margin-top: 20px;
    }

    #demo {
        margin-top: 50px;
    }

    /*  PAG IMAGENES */
    /* Pag VIDEOS */
    /* Pag VIDEOS */
    /* PAG SERVICIOS */
    #calendario{
        width: $fullwidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 80px;
        iframe{
            width: $width80;
            height: 400px;
        }
        h3{
            @include hestilo(h3);
            color: $whitesmoke;
            margin-bottom: 50px;
        }
    }
    /* PAG SERVICIOS */
}

@media (min-width: 768px) {
    #jumbotronbg {
        p {
            width: $width50+10%;
        }

        .ultimovideo {
            margin-top: 40px;
        }
    }

    #iframe {
        iframe {
            width: $width50+10%;
        }
    }

    #ultimosalbums {
        h2 {
            margin-top: 40px;
        }
        div {
            iframe {
                width: $width50+15%;
            }
        }
    }
// pag servicios
    #servicios{
        height: 350px;
    }
    #calendario{
        iframe{
            height: 600px;
        }
    }
// pag servicios
    /* pag contacto */
    #contacto{
        height: 350px;
    }
    .form-horizontal{
        display: flex;
        justify-content: center;
        #formulario{
            width: $width80;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .form-group{
                div{
                    input{
                        width: $fullwidth;
                    }
                }
            }
        }
    }
    /* pag contacto */
    /*  PAG IMAGENES */
    #imagenes{
        height: 350px;
    }
    #demo {
        margin-top: 50px;
        width: $width80+5%;
    }
    /*  PAG IMAGENES */
    /* Pag VIDEOS */
    #videos{
        height: 350px;
    }
    .videos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        iframe{
            margin: 20px;
        }
    }
    /* Pag VIDEOS */
    //footer
    #footer-socials {
        a {
            font-size: 30px;
        }
    }
    // footer
@media (min-width: 992px) {
    #navbarNav {
        ul {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }

        .nav-link {
            box-shadow: inset 0 0 0 0 $whitesmoke;
            border-radius: 5px;
            margin: 0 -.25rem;
            padding: 0 .25rem;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

            &:hover {
                box-shadow: inset 250px 0 0 0 gray;
                border-radius: 10px;

            }
        }
    }

    #jumbotronbg {
        p {
            width: $width50+10%;
        }

        .ultimovideo {
            margin-top: 40px;
        }
    }

    #iframe {
        iframe {
            width: $width50;
        }
    }

    #ultimosalbums {
        h2 {
            margin-top: 40px;
            width: $fullwidth;
        }

        div {
            iframe {
                width: $fullwidth;
            }
        }
    }

    /* pag contacto */
    #contacto{
        height: 400px;
    }
    .form-horizontal{
        #formulario{
            width: $width50+10%;
        }
    }
    /* pag contacto */
    /*  PAG IMAGENES */
    #imagenes{
        height: 400px;
    }
    .jumbotron {
        margin-top: 20px;
        width: $width50+10%;
    }

    #demo {
        margin-top: 50px;
        width: $width50+25%;
    }

    /*  PAG IMAGENES */
    /* Pag VIDEOS */
    #videos{
        height: 400px;
    }
    /* Pag VIDEOS */
    /* PAG SERVICIOS */
    #servicios{
        height: 400px;
        p{
            font-size: 18px;
        }
    }
    #calendario {
        iframe{
            width: $width50+20%;
        }
    }

    /* PAG SERVICIOS */
}

@media (min-width: 1200px) {
    /* pag imagenes */
    .jumbotron {
        width: $width80/2;
    }
    #demo {
        width: $width50+10%;
    }
    /* pag imagenes */
    // Pag main
    #img2 {
        margin-top: 2%;
    }
    // pag main
}}