* {
    margin: 0%;
    padding: 0%;
}
@import "_variables";
/* header */
#nave{
    background-color: $white;
    border-bottom: $bordes;
    div{
        width: $fullwidth;
        nav{
            display: flex;
            justify-content: center;
            a{
                color: $color1;
            }
            .navbar-toggler{
            color: $color1;
            }
        }
    }
    #navbarNav{
        a{
            text-align: center;
            font-size: 20px;
        }
    }
    .navbar{
        button{
            span{
                color: $whitesmoke;
            }
            
        }
    }
}

/* header */
/* footer */
#footer-socials{
    text-align: center;
    width: $fullwidth;
    font-size: 20px;
    a{
        color: $white;
    }
}
/* footer */
/* MAIN DE PAGINA PRINCIPAL */
body{
    background-color: $white;
    img{
        width: $fullwidth;
    }
}
#jumbotron1{
    background-color: $white;
    height: 200px;
    margin-top: 100px;
    h1{
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-size: 40px;
        text-shadow: 0 1px 0 #ccc, 
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    }
    .fa {
        margin-top: 40px;
        font-size: 30px;
        color: $color1;
        letter-spacing: 30px;
        text-decoration: none;
        &:hover{
            color: black;
        }
    }
}



#jumbotronbg{
    background-image: url(./imgs/jumbotronbg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: $bordes;
    border-bottom: $bordes;
    
    #img1{
        width: $width80/2;
        border-radius: 10px;
        margin-top: 20px;
    }
    h3{
        font-family: 'Ubuntu', sans-serif;
        text-shadow: 0 1px 0 #ccc, 
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
    }
    p{
        width: $width80;
        text-shadow: 2px 2px 20px white;
        text-align: justify;
        font-family: 'Oswald', sans-serif;
        // text-decoration: underline $whitesmoke;
    }
    div{
        h3{
            margin-top: 20px;
            font-family: 'Ubuntu', sans-serif;;
            text-shadow: 0 1px 0 #ccc, 
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
        }
        iframe{
            width: $fullwidth;
            padding-bottom: 40px;
        }
    }
}

#iframe{
    text-align: center;
    iframe{
        width: $width80;
        height: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h3{
        margin-top: 30px;
        a{
            text-decoration: none;
            color: green;
            &:hover{
                color: black;
                text-decoration: underline;
            
        }
        }
    }
}
#ultimosalbums{
    border-top: $bordes;
    margin-bottom: 50px;
    text-align: center;
    background-color: $white;
    h2{
        color: black;
        font-size: 35px;
        width: $fullwidth;
    }
    iframe{
        width: $fullwidth;
    }
}
/* MAIN DE PAGINA PRINCIPAL */
/*  PAG IMAGENES */
#demo{
    width: $width80+15%;
    margin-top: 100px;
    box-shadow: 6px 5px 5px black;
}
.carousel-item{
    img{
        width: $fullwidth;
    }
}
.jumbotron{
    margin-top: 20px;
    width: $width50+20%;
    border: solid black 3px;
}
/*  PAG IMAGENES */
/* Pag VIDEOS */

.btn:hover{
    color: black;
}
.embed-responsive{
    width: $width80;
    margin-top: 10px;
    margin-bottom: 50px;
    overflow: visible;
}
/* Pag VIDEOS */
/* PAG SERVICIOS */
#calendario{
    width: $fullwidth;
}
/* PAG SERVICIOS */
/* PAG CONTACTOS */
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.bigicon{
    color: $whitesmoke;
}
.text-center{
    color: $whitesmoke;
}
#jumbotroncontac {
    margin-top: 20px;
}
/* PAG CONTACTOS */
/* footer */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: $fullwidth;
}
.socials{
    letter-spacing: 40px;
}
/* footer */

/* Bootsrap */
.form-group{
    text-align: center;
    width: $width80;
    label{
        color: rgb(168, 168, 168);
        font-size: 20px;
    }
}
@media (min-width: 576px){
    #jumbotronbg{
        #img1{
            width: max-content;
        }
        .ultimovideo{
            margin-top: 20px;
        }
    }
    #iframe{
        iframe{
            width: $fullwidth;
        }
    }
    #ultimosalbums{
        h2{
            margin-top: 40px;
            text-align: center;
            margin-bottom: 40px;
        }
        div{
            iframe{
                width: $width50+15%;
            }
        }
    }
    /* pag contacto */
    fieldset{
        margin-top: 20px;
    }
    /* pag contacto */
    /*  PAG IMAGENES */
    .jumbotron {
        margin-top: 20px;
    }
    #demo{
        margin-top: 50px;
    }
    /*  PAG IMAGENES */
    /* Pag VIDEOS */
    .embed-responsive{
        margin-top: 15px;
    }
    /* Pag VIDEOS */
    /* PAG SERVICIOS */
    #calendario{
        width: $width80;
    }
    /* PAG SERVICIOS */
}
@media (min-width: 768px){
    #jumbotronbg{
        p{
            width: $width50+10%;
        }
        .ultimovideo{
            margin-top: 40px;
        }
    }
    #iframe{
        iframe{
            width: $width50+10%;
        }
    }
    #ultimosalbums{
        h2{
            margin-top: 40px;
        }
        div{
            iframe{
                width: $width50+15%;
            }
        }
    }
    /* pag contacto */
    fieldset{
        margin-top: 40px;
    }
    .col-md-8{
        max-width: $fullwidth;
    }
    /* pag contacto */
    /*  PAG IMAGENES */
    .jumbotron {
        margin-top: 20px;
    }
    #demo{
        margin-top: 50px;
        width: $width80+5%;
    }
    /*  PAG IMAGENES */
    /* Pag VIDEOS */
    .embed-responsive{
        width: $width50+25%;
    }
    #jumbotronvid{
        width: $width50+10%;
    }
    /* Pag VIDEOS */
}
@media (min-width: 992px){
    #navbarnav{
        ul{
            li{
                a{
                    text-align: center;
                }
            }
        }
    }
    #jumbotronbg{
        p{
            width: $width50+10%;
        }
        .ultimovideo{
            margin-top: 40px;
        }
    }
    #iframe{
        iframe{
            width: $width50;
        }
    }
    #ultimosalbums{
        h2{
            margin-top: 40px;
            width: $fullwidth;
        }
        div{
            iframe{
                width: $fullwidth;
            }
        }
    }
    /* pag contacto */
    fieldset{
        margin-top: 40px;
    }
    .col-md-8{
        max-width: $fullwidth;
    }
    /* pag contacto */
    /*  PAG IMAGENES */
    .jumbotron {
        margin-top: 20px;
        width: $width50+10%;
    }
    #demo{
        margin-top: 50px;
        width: $width50+25%;
    }
    /*  PAG IMAGENES */
    /* Pag VIDEOS */
    .embed-responsive{
        width: $width50+20%;
    }
    #jumbotronvid{
        width: $width50;
    }
    /* Pag VIDEOS */
    /* PAG SERVICIOS */
    #calendario{
        width: $width50+25%;
    }
    /* PAG SERVICIOS */
}
@media (min-width: 1200px){
    /* pag imagenes */
    .jumbotron{
        width: $width80/2;
    }
    #demo{
        width: $width50+10%;
    }
    /* pag imagenes */
    // Pag main
    #img2{
        margin-top: 2%;
    }
    // pag main

}