* {
  margin: 0%;
  padding: 0%;
}

.btn--facebook {
  color: #3b5998;
}

.btn--facebook:hover {
  color: whitesmoke;
}

.btn--instagram {
  color: #3f729b;
}

.btn--instagram:hover {
  color: whitesmoke;
}

.btn--youtube {
  color: #b2071d;
}

.btn--youtube:hover {
  color: whitesmoke;
}

.btn--soundcloud {
  color: #ff7700;
}

.btn--soundcloud:hover {
  color: whitesmoke;
}

.btn--outlook {
  color: #0072C6;
}

.btn--outlook:hover {
  color: whitesmoke;
}

.btn--gmail {
  color: #C71610;
}

.btn--gmail:hover {
  color: whitesmoke;
}

/* header */
#nave {
  background-color: black;
  border-bottom: black solid 4px;
}

#nave div {
  width: 100%;
}

#nave div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nave div nav a {
  color: whitesmoke;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}

#nave div nav .navbar-toggler {
  color: #3a3a3a;
}

#nave #navbarNav a {
  text-align: center;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: whitesmoke;
}

#nave .navbar button {
  width: 50px;
  height: 30px;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, black), color-stop(21%, white), color-stop(37%, white), color-stop(38%, black), color-stop(59%, black), color-stop(60%, white), color-stop(77%, white), color-stop(78%, black));
  background: linear-gradient(180deg, black 20%, white 21%, white 37%, black 38%, black 59%, white 60%, white 77%, black 78%);
}

/* header */
/* footer */
footer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: black;
}

#footer-socials {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
}

#footer-socials .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer-socials .socials a {
  font-size: 25px;
  width: 60px;
}

#footer-socials .socials h3 {
  width: 100%;
  color: whitesmoke;
  font-size: 25px;
  margin-top: 15px;
}

#footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 15px;
}

#footer-links .links {
  width: 200px;
  text-align: center;
}

#footer-links .links h4 {
  color: white;
  font-size: 25px;
  margin: 0;
}

#footer-links .links a {
  color: whitesmoke;
  -webkit-text-decoration: underline 1px whitesmoke;
          text-decoration: underline 1px whitesmoke;
  list-style: none;
  padding-bottom: 5px;
}

#footer-links .links a:hover {
  font-size: 17px;
  -webkit-text-decoration: underline 2px #3a3a3a;
          text-decoration: underline 2px #3a3a3a;
  color: #3a3a3a;
}

#footer-links .links .links-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer-links .links li {
  list-style: none;
}

/* footer */
/* MAIN DE PAGINA PRINCIPAL */
body {
  background-color: whitesmoke;
}

#jumbotron1 {
  background-image: url(./imgs/bg2.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#jumbotron1 h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: whitesmoke;
  margin-top: 15px;
}

#jumbotron1 .btn--youtube {
  font-size: 28px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#jumbotron1 .btn--youtube::before {
  content: '';
  background-color: #b2071d;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#jumbotron1 .btn--youtube:hover::before {
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

#jumbotron1 .btn--soundcloud {
  font-size: 28px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#jumbotron1 .btn--soundcloud::before {
  content: '';
  background-color: #ff7700;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#jumbotron1 .btn--soundcloud:hover::before {
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

#jumbotronbg {
  background-image: url(./imgs/jumbotronbg.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: black solid 4px;
  border-bottom: black solid 4px;
}

#jumbotronbg #img1 {
  width: 40%;
  border-radius: 10px;
  margin-top: 20px;
}

#jumbotronbg h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: whitesmoke;
}

#jumbotronbg p {
  text-shadow: 2px 2px 20px white;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  text-align: center;
}

#jumbotronbg div h3 {
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
}

#jumbotronbg div iframe {
  width: 100%;
  padding-bottom: 40px;
}

#iframe {
  text-align: center;
}

#iframe iframe {
  width: 80%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#iframe h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: whitesmoke;
}

#iframe h3 a {
  text-decoration: none;
  color: green;
}

#iframe h3 a:hover {
  color: black;
  text-decoration: underline;
}

#ultimosalbums {
  background-image: url(./imgs/bgjumb2.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0%;
  padding-bottom: 60px;
  border-top: black solid 4px;
  padding-bottom: 80px;
  text-align: center;
  background-color: white;
}

#ultimosalbums h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: whitesmoke;
  width: 100%;
}

#ultimosalbums iframe {
  width: 100%;
  margin-bottom: 5px;
}

/* MAIN DE PAGINA PRINCIPAL */
/*  PAG IMAGENES */
#imagenes {
  margin-top: 60px;
  padding-bottom: 100px;
  height: 300px;
  margin-bottom: 20px;
  background-image: url(./imgs/jumbotronbg.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: black solid 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

#imagenes h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: white;
  width: 100%;
  margin-top: 100px;
}

#imagenes p {
  width: 100%;
  text-shadow: 2px 2px 20px white;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 20px;
}

#imagenes a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#imagenes .btn--instagram {
  font-size: 28px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#imagenes .btn--instagram::before {
  content: '';
  background-color: #3f729b;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#imagenes .btn--instagram:hover::before {
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

#demo {
  width: 95%;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-shadow: 6px 5px 5px black;
          box-shadow: 6px 5px 5px black;
}

.carousel-item img {
  width: 100%;
}

.jumbotron {
  margin-top: 20px;
  width: 70%;
  border: solid black 3px;
}

/*  PAG IMAGENES */
/* Pag VIDEOS */
#videos {
  margin-top: 60px;
  padding-bottom: 100px;
  height: 300px;
  margin-bottom: 20px;
  background-image: url(./imgs/jumbotronbg.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: black solid 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

#videos h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: white;
  width: 100%;
  margin-top: 100px;
}

#videos p {
  width: 100%;
  text-shadow: 2px 2px 20px white;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 20px;
}

#videos a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#videos .btn--youtube {
  font-size: 28px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#videos .btn--youtube::before {
  content: '';
  background-color: #b2071d;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#videos .btn--youtube:hover::before {
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

.videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.videos iframe {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px;
}

/* Pag VIDEOS */
/* PAG SERVICIOS */
#servicios {
  margin-top: 60px;
  padding-bottom: 100px;
  height: 300px;
  margin-bottom: 20px;
  background-image: url(./imgs/jumbotronbg.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: black solid 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

#servicios h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: white;
  width: 100%;
  margin-top: 100px;
}

#servicios p {
  width: 100%;
  text-shadow: 2px 2px 20px white;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 20px;
}

#servicios a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#servicios .btn--instagram {
  font-size: 28px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#servicios .btn--instagram::before {
  content: '';
  background-color: #3f729b;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#servicios .btn--instagram:hover::before {
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

#servicios .btn--facebook {
  font-size: 28px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#servicios .btn--facebook::before {
  content: '';
  background-color: #3b5998;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#servicios .btn--facebook:hover::before {
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

#calendario {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

#calendario iframe {
  width: 80%;
  height: 350px;
  margin-top: 80px;
}

/* PAG SERVICIOS */
/* PAG CONTACTOS */
#contacto {
  margin-top: 60px;
  padding-bottom: 100px;
  height: 300px;
  margin-bottom: 20px;
  background-image: url(./imgs/jumbotronbg.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: black solid 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

#contacto h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: white;
  width: 100%;
  margin-top: 100px;
}

#contacto p {
  width: 100%;
  text-shadow: 2px 2px 20px white;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 20px;
}

#contacto a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#contacto .btn--gmail {
  font-size: 28px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#contacto .btn--gmail::before {
  content: '';
  background-color: #C71610;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#contacto .btn--gmail:hover::before {
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

#contacto .btn--outlook {
  font-size: 28px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#contacto .btn--outlook::before {
  content: '';
  background-color: #0072C6;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#contacto .btn--outlook:hover::before {
  bottom: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

#formulario {
  background-color: black;
  padding: 20px;
  margin-bottom: 60px;
  margin-top: 40px;
}

#formulario .form-group {
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
}

#formulario .form-group .btn {
  background-color: whitesmoke;
  border: black solid 2px;
}

#formulario .form-group .btn:hover {
  color: whitesmoke;
  background-color: #3a3a3a;
  border: white solid 2px;
}

/* PAG CONTACTOS */
@media (min-width: 576px) {
  #jumbotronbg #img1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #jumbotronbg .ultimovideo {
    margin-top: 20px;
  }
  #iframe iframe {
    width: 100%;
  }
  #ultimosalbums h2 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  #ultimosalbums div iframe {
    width: 65%;
  }
  /* pag contacto */
  /*  PAG IMAGENES */
  .jumbotron {
    margin-top: 20px;
  }
  #demo {
    margin-top: 50px;
  }
  /*  PAG IMAGENES */
}

@media (min-width: 768px) {
  #jumbotronbg p {
    width: 60%;
  }
  #jumbotronbg .ultimovideo {
    margin-top: 40px;
  }
  #iframe iframe {
    width: 60%;
  }
  #ultimosalbums h2 {
    margin-top: 40px;
  }
  #ultimosalbums div iframe {
    width: 65%;
  }
  #servicios {
    height: 350px;
  }
  #calendario iframe {
    height: 600px;
  }
  /* pag contacto */
  #contacto {
    height: 350px;
  }
  .form-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-horizontal #formulario {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-horizontal #formulario .form-group div input {
    width: 100%;
  }
  /* pag contacto */
  /*  PAG IMAGENES */
  #imagenes {
    height: 350px;
  }
  #demo {
    margin-top: 50px;
    width: 85%;
  }
  /*  PAG IMAGENES */
  /* Pag VIDEOS */
  #videos {
    height: 350px;
  }
  .videos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .videos iframe {
    margin: 20px;
  }
  /* Pag VIDEOS */
  #footer-socials a {
    font-size: 30px;
  }
  #footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #footer-links .links {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #footer-links .links h4 {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  #navbarNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #navbarNav .nav-link {
    -webkit-box-shadow: inset 0 0 0 0 whitesmoke;
            box-shadow: inset 0 0 0 0 whitesmoke;
    border-radius: 5px;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    -webkit-transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  }
  #navbarNav .nav-link:hover {
    -webkit-box-shadow: inset 250px 0 0 0 gray;
            box-shadow: inset 250px 0 0 0 gray;
    border-radius: 10px;
  }
  #jumbotronbg p {
    width: 60%;
  }
  #jumbotronbg .ultimovideo {
    margin-top: 40px;
  }
  #iframe iframe {
    width: 50%;
  }
  #ultimosalbums h2 {
    margin-top: 40px;
    width: 100%;
  }
  #ultimosalbums div iframe {
    width: 100%;
  }
  /* pag contacto */
  #contacto {
    height: 400px;
  }
  .form-horizontal #formulario {
    width: 60%;
  }
  /* pag contacto */
  /*  PAG IMAGENES */
  #imagenes {
    height: 400px;
  }
  .jumbotron {
    margin-top: 20px;
    width: 60%;
  }
  #demo {
    margin-top: 50px;
    width: 75%;
  }
  /*  PAG IMAGENES */
  /* Pag VIDEOS */
  #videos {
    height: 400px;
  }
  /* Pag VIDEOS */
  /* PAG SERVICIOS */
  #servicios {
    height: 400px;
  }
  #servicios p {
    font-size: 18px;
  }
  #calendario iframe {
    width: 70%;
  }
  /* PAG SERVICIOS */
}

@media (min-width: 768px) and (min-width: 1200px) {
  /* pag imagenes */
  .jumbotron {
    width: 40%;
  }
  #demo {
    width: 60%;
  }
  /* pag imagenes */
  #img2 {
    margin-top: 2%;
  }
}
/*# sourceMappingURL=style.css.map */