* {
  margin: 0%;
  padding: 0%;
}

.btn--facebook {
  color: #3b5998;
}

.btn--facebook:hover {
  color: whitesmoke;
}

.btn--instagram {
  color: #3f729b;
}

.btn--instagram:hover {
  color: whitesmoke;
}

.btn--youtube {
  color: #b2071d;
}

.btn--youtube:hover {
  color: whitesmoke;
}

.btn--soundcloud {
  color: #ff7700;
}

.btn--soundcloud:hover {
  color: whitesmoke;
}

/* header */
#nave {
  background-color: whitesmoke;
  border-bottom: black solid 4px;
}

#nave div {
  width: 100%;
}

#nave div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nave div nav a {
  color: #3a3a3a;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}

#nave div nav .navbar-toggler {
  color: #3a3a3a;
}

#nave #navbarNav a {
  text-align: center;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: #3a3a3a;
}

#nave .navbar button {
  width: 50px;
  height: 30px;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, black), color-stop(21%, white), color-stop(37%, white), color-stop(38%, black), color-stop(59%, black), color-stop(60%, white), color-stop(77%, white), color-stop(78%, black));
  background: linear-gradient(180deg, black 20%, white 21%, white 37%, black 38%, black 59%, white 60%, white 77%, black 78%);
}

/* header */
/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer-socials {
  text-align: center;
  width: 100%;
  background-color: black;
}

#footer-socials .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer-socials a {
  font-size: 25px;
}

/* footer */
/* MAIN DE PAGINA PRINCIPAL */
body {
  background-color: whitesmoke;
}

#jumbotron1 {
  height: 200px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#jumbotron1 h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
}

#jumbotron1 a {
  text-decoration: none;
  font-size: 25px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: 'Ubuntu', sans-serif;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#jumbotronbg {
  background-image: url(./imgs/jumbotronbg.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: black solid 4px;
  border-bottom: black solid 4px;
}

#jumbotronbg #img1 {
  width: 40%;
  border-radius: 10px;
  margin-top: 20px;
}

#jumbotronbg h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
}

#jumbotronbg p {
  width: 80%;
  text-shadow: 2px 2px 20px white;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
}

#jumbotronbg div h3 {
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
}

#jumbotronbg div iframe {
  width: 100%;
  padding-bottom: 40px;
}

#iframe {
  text-align: center;
}

#iframe iframe {
  width: 80%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#iframe h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: whitesmoke;
}

#iframe h3 a {
  text-decoration: none;
  color: green;
}

#iframe h3 a:hover {
  color: black;
  text-decoration: underline;
}

#ultimosalbums {
  background-image: url(./imgs/bgjumb2.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0%;
  border-top: black solid 4px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}

#ultimosalbums h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 30px;
  font-size: 40px;
  color: whitesmoke;
  width: 100%;
}

#ultimosalbums iframe {
  width: 100%;
  margin-bottom: 5px;
}

/* MAIN DE PAGINA PRINCIPAL */
/*  PAG IMAGENES */
#demo {
  width: 95%;
  margin-top: 100px;
  -webkit-box-shadow: 6px 5px 5px black;
          box-shadow: 6px 5px 5px black;
}

.carousel-item img {
  width: 100%;
}

.jumbotron {
  margin-top: 20px;
  width: 70%;
  border: solid black 3px;
}

/*  PAG IMAGENES */
/* Pag VIDEOS */
.btn:hover {
  color: black;
}

.embed-responsive {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 50px;
  overflow: visible;
}

/* Pag VIDEOS */
/* PAG SERVICIOS */
#calendario {
  width: 100%;
}

/* PAG SERVICIOS */
/* PAG CONTACTOS */
.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.bigicon {
  color: whitesmoke;
}

.text-center {
  color: whitesmoke;
}

#jumbotroncontac {
  margin-top: 20px;
}

/* PAG CONTACTOS */
/* Bootsrap */
.form-group {
  text-align: center;
  width: 80%;
}

.form-group label {
  color: #a8a8a8;
  font-size: 20px;
}

@media (min-width: 576px) {
  #jumbotronbg #img1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #jumbotronbg .ultimovideo {
    margin-top: 20px;
  }
  #iframe iframe {
    width: 100%;
  }
  #ultimosalbums h2 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  #ultimosalbums div iframe {
    width: 65%;
  }
  /* pag contacto */
  fieldset {
    margin-top: 20px;
  }
  /* pag contacto */
  /*  PAG IMAGENES */
  .jumbotron {
    margin-top: 20px;
  }
  #demo {
    margin-top: 50px;
  }
  /*  PAG IMAGENES */
  /* Pag VIDEOS */
  .embed-responsive {
    margin-top: 15px;
  }
  /* Pag VIDEOS */
  /* PAG SERVICIOS */
  #calendario {
    width: 80%;
  }
  /* PAG SERVICIOS */
}

@media (min-width: 768px) {
  #jumbotronbg p {
    width: 60%;
  }
  #jumbotronbg .ultimovideo {
    margin-top: 40px;
  }
  #iframe iframe {
    width: 60%;
  }
  #ultimosalbums h2 {
    margin-top: 40px;
  }
  #ultimosalbums div iframe {
    width: 65%;
  }
  /* pag contacto */
  fieldset {
    margin-top: 40px;
  }
  .col-md-8 {
    max-width: 100%;
  }
  /* pag contacto */
  /*  PAG IMAGENES */
  .jumbotron {
    margin-top: 20px;
  }
  #demo {
    margin-top: 50px;
    width: 85%;
  }
  /*  PAG IMAGENES */
  /* Pag VIDEOS */
  .embed-responsive {
    width: 75%;
  }
  #jumbotronvid {
    width: 60%;
  }
  /* Pag VIDEOS */
  #footer-socials a {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  #navbarNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #navbarNav a {
    -webkit-box-shadow: inset 0 0 0 0 #3a3a3a;
            box-shadow: inset 0 0 0 0 #3a3a3a;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    -webkit-transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  }
  #navbarNav a:hover {
    -webkit-box-shadow: inset 250px 0 0 0 #3a3a3a;
            box-shadow: inset 250px 0 0 0 #3a3a3a;
    color: red;
  }
  #jumbotronbg p {
    width: 60%;
  }
  #jumbotronbg .ultimovideo {
    margin-top: 40px;
  }
  #iframe iframe {
    width: 50%;
  }
  #ultimosalbums h2 {
    margin-top: 40px;
    width: 100%;
  }
  #ultimosalbums div iframe {
    width: 100%;
  }
  /* pag contacto */
  fieldset {
    margin-top: 40px;
  }
  .col-md-8 {
    max-width: 100%;
  }
  /* pag contacto */
  /*  PAG IMAGENES */
  .jumbotron {
    margin-top: 20px;
    width: 60%;
  }
  #demo {
    margin-top: 50px;
    width: 75%;
  }
  /*  PAG IMAGENES */
  /* Pag VIDEOS */
  .embed-responsive {
    width: 70%;
  }
  #jumbotronvid {
    width: 50%;
  }
  /* Pag VIDEOS */
  /* PAG SERVICIOS */
  #calendario {
    width: 75%;
  }
  /* PAG SERVICIOS */
}

@media (min-width: 1200px) {
  /* pag imagenes */
  .jumbotron {
    width: 40%;
  }
  #demo {
    width: 60%;
  }
  /* pag imagenes */
  #img2 {
    margin-top: 2%;
  }
}
/*# sourceMappingURL=style.css.map */